@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000; 1,200..1000&family=Наряд:wght@100.. 900&family=Шестьдесят четыре&display=swap');

body {
    font-family: "Mulish", sans-serif;
    font-size: large;
    background-color: #e2e2e2;
}

h1 {
    margin: 50px;
}


header {
    margin: 0;
    width: 100vw; height: 10vh;
    border-radius: 10px;
    background-color: #fffbf4;
    display: flex;
    align-items: center;
}

main {
    margin: 20px 0px;
    height: 88vh;
    width: 100vw;
    border-radius: 10px;
    background-color: #fffbf4;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    flex-wrap: wrap;
}

div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

embed {
    width: 98vw; height: 95%;
}